@import "tailwindcss";
.authButton {
  @apply flex items-center justify-center gap-2 rounded-full bg-white/30 px-5.5 py-1.5 shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)] backdrop-blur-md transition-transform duration-200  hover:bg-white/50 active:scale-95;
}
