@import "tailwindcss";
.authButton {
  @apply flex items-center justify-center gap-2 rounded-full bg-white/10 border border-white/0 hover:border-white/30 px-5.5 py-1.5 transition-transform duration-200 hover:bg-white/5 active:scale-95;
}
